<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>Save Employee</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <style>
        .custom-margin {
            margin-bottom: 10px;
            margin-top: 10px;
        }

    </style>
</head>
<body>

<div class="container custom-margin">

    <h3 class="custom-margin" style="text-align: center">Employee Directory</h3>

    <div class="row">
        <div class="h5 mb-4">Save Employee</div>
    </div>

    <form action="#" th:action="@{/employees/save}" th:object="${employee}" method="post"
          class="row  needs-validation novalidate">

        <div class="row">
            <div class="col-md-4 ">
                <div class="form-outline custom-margin">

                    <input type="text" th:field="*{firstName}" class="form-control" id="validationCustom01"
                           required placeholder="First Name">
                    <div class="valid-feedback">looks good!</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 ">
                <div class="form-outline custom-margin">
                    <input type="text" th:field="*{lastName}" class="form-control" id="validationCustom02"
                           required placeholder="Last Name">
                    <div class="valid-feedback">looks good!</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-outline custom-margin">
                    <input type="text" th:field="*{email}" class="form-control" id="validationCustom03"
                           required placeholder="Email">
                    <div class="valid-feedback">looks good!</div>
                </div>
            </div>
        </div>
        <!--
                <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}"
                     th:errors="*{firstName}">Name Error
                </div>
        -->

        <!--        <span th:if="${#fields.hasAnyErrors()}">Name Error</span>-->
        <div class="row">
            <div class="custom-margin">
                <button type="submit" class="btn btn-info col-2">Save</button>
            </div>
        </div>
    </form>
    <!--    <div class="row">-->
    <div class=" mb-4 btn btn-outline-info custom-margin " style="background-color: inherit; margin-top: 30px">
        <a th:href="@{/employees/list}" style="text-decoration: none  ">Back to Employees List</a>
    </div>

    <!--    </div>-->

</div>
</body>
</html>